.App {
  background-color: orangered;
    text-align: center;
  }
  
  .bot-card {
    border: 1px solid orangered;
    padding: 10px;
    margin: 10px;
    display: -moz-box;
    width: 200px;
    text-align: center;
  }
  
  .bot-collection, .your-bot-army {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .bot-card img {
    width: 100px;
    height: 100px;
  }
  